# Eclipse files
.buildpath
.settings/
.project

# PhpStorm files
.idea/

# OS X Files
.DS_Store

# Vendor files
vendor/

# Composer
composer.phar

# Silex logs
logs/*

#IIS
web/Web.config

# Debug
web/info.php

# Database
/data/*
!*.dist

# Tmp files
*.php~
