# OS X Files
.DS_Store

#IIS
web/Web.config

# Eclipse files
.buildpath
.settings/
.project

# PhpStorm files
.idea/

# Vendor files
vendor/

# Composer
composer.phar

# Silex logs
logs/*

# Database & configd
/data/*
!*.dist

# Tmp files
*.php~

# Debug
web/info.php
