<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>CI Boulette</title>
</head>
<body>
    {% block body %}
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    {% endblock %}
</body>
</html>