<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>CI Boulette</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="/assets/css/bootstrap-responsive.css" />
</head>
<body>
    {% block body %}
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    {% block javascripts %}
    <script src="/assets/js/bootstrap.js"></script>
    {% endblock %}

    {% endblock %}
</body>
</html>