{% extends 'layout.html.twig' %}

{% block body %}
<div class="container">
	<form class="form-signin" action="/login_check" method="POST">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" name="_username" class="input-block-level" placeholder="Username">
		<input type="password" name="_password" class="input-block-level" placeholder="Password">
		<button class="btn btn-large btn-primary" type="submit">Sign in</button>
	</form>
</div>
{% endblock %}