{% extends 'layout.html.twig' %}

{% block main %}
<h2>Add a new command template</h2>

<form class="form-horizontal well" action="/templates/" method="POST">
    <div class="control-group">
        <label class="control-label" for="name">Name :</label>
        <div class="controls">
            <input type="text" name="name" required="required">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="command">Command :</label>
        <div class="controls">
            <textarea name="command" placeholder="Command to execute" required="required" class="input-xxlarge"></textarea>
        </div>
    </div>

	<div class="actions">
        <a href="/templates" class="btn"><i class="icon-list"></i> Back to list</a>
        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>
{% endblock %}